
.tree{
    width: 1002px;
    margin: 0px auto;
}
.container-0{
    width: 1000px;
    min-height: 400px;
    background-color: #ffffff;
    border: 1px solid #999999;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-1{
    min-width: 800px;
    min-height: 160px;
    background-color: #ffffff;
    border: 1px solid #999999;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-2{
    min-width: 50px;
    min-height: 90px;
    background-color: #ffffff;
    border: 1px solid #999999;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-3{
    min-width: 80px;
    min-height: 70px;
    background-color: #ffffff;
    border: 1px solid #999999;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-4{
    width: 30px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #999999;
    margin: 10px;
}
.selected{
    background: blue;
}
.selected-red{
    background: red;
}


.searchBar{
    width: 740px;
    margin: 0px auto;
}
.input{
    /*width: 200px;*/
    display: inline-block;
}
input[type = 'text']{
    width: 200px;
    height: 24px;
    float: left;
    margin-left: 10px;
}
.button{
    width: 60px;
    height: 30px;
    background-color: #ffffff;
    font-size: 16px;
    color: #666666;
    text-align: center;
    line-height: 30px;
    border: 1px solid #999999;
    padding: 0px;
    margin-left: 10px;
    cursor: pointer;
    float: left;
}


.log{
    color: red;
    text-align: center;
}























